body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.frame {
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    background-color: #41644A;
    padding: 20px;
    box-shadow: 10px 10px #263A29;
    
}

.display{
    display: flex;
    background-color: #F2E3DB;
    height: 15%;
    margin-bottom: 30px;
    padding: 0px 10px;
    font-size: 42px;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'DS-Digital', sans-serif;
}

.buttons{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.numbersandsymbols{
    display: flex;
    flex-grow: 1;
}

.symbols{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.symbols > button {
    height: 33%;
    width: 60px;
    border: none;
    border-radius: 8px;
    font-size: 28px;
   
}

button{
    box-shadow: 5px 10px black;
    font-family: 'Source Code Pro', monospace;
    
}

button:active {
    box-shadow: 2.5px 5px black;
    transform: translateY(2px);
}

button.add {
    height: 66%;
}

.numbers{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 10px;
    
}

.numbers > button {
    width: 30%;
    border: none;
    border-radius: 8px;
    font-size: 28px;
   
}

.otherbuttons {
    display: flex;
    gap: 10px;
    max-height: 25px;
    flex-grow: 1;
    margin-bottom: 5px;
}

.otherbuttons > button {
    width: 25%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
   
}
